/* 1. Header Image */
.überuns-page-container .header-image {
  height: 300px;
  object-fit: cover;
  height: 400px;
  width: 400px;
  margin: auto;
}
.überuns-page-container .row > .col-lg-4 {
  min-height: 200px;
}
.überuns-page-container .image-wrapper {
  position: relative;
  margin-bottom: 150px !important;
}
.überuns-page-container .top-image,
.überuns-page-container .bottom-image {
  max-width: 402px;
  max-height: 290px;
  object-fit: cover;
  width: 402px;
}
.überuns-page-container .bottom-image {
  z-index: -1;
}
.überuns-page-container .bottom-image {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-420px, 280px);
}
.überuns-page-container .side-image {
  position: absolute;
  width: 400px;
  height: 150px;
  bottom: -160px;
  right: 150px;
  object-fit: contain;
}
.überuns-page-container .header-image {
  max-height: 400px;
  display: flex;
  justify-content: center;
}
.überuns-page-container .content {
  min-height: 470px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}
.überuns-page-container h5 {
  margin-top: 0;
}
.überuns-page-container .intro-container {
  font-family: "Times New Roman", Times, serif;
}
.überuns-page-container .intro-container .col-lg-4 .content {
  background: #d9d9d9;
}
.überuns-page-container .intro-container .col-lg-4 h4 {
  text-transform: uppercase;
}
.überuns-page-container .speak-with-us-container .accordion .card {
  border: none !important;
  border-radius: 0 !important;
}
.überuns-page-container .speak-with-us-container .accordion .card .card-body {
  padding: 1em 15px !important;
}
.überuns-page-container .speak-with-us-container .accordion .card .card-header {
  padding: 0.75rem 15px !important;
  background: #d9d9d9;
}
.überuns-page-container
  .speak-with-us-container
  .accordion
  .card
  .card-header
  div {
  padding: 0 !important;
  color: #000;
  font-weight: bold;
}
@media screen and (max-width: 1201px) {
  .überuns-page-container .side-image {
    position: absolute;
    width: 400px;
    height: 150px;
    bottom: -160px;
    right: 60px;
    object-fit: cover;
  }
}
@media screen and (max-width: 991px) {
  .überuns-page-container .image-wrapper {
    transform: translatex(100px);
  }
  .überuns-page-container .side-image {
    position: absolute;
    width: 300px;
    height: 150px;
    bottom: -160px;
    right: 50px;
    object-fit: cover;
  }
}
@media screen and (max-width: 615px) {
  .überuns-page-container .top-image,
  .überuns-page-container .bottom-image {
    max-width: 302px;
    max-height: 250px;
    object-fit: cover;
    width: 302px;
  }
  .überuns-page-container .bottom-image {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-320px, 230px);
  }
  .überuns-page-container .side-image {
    display: none;
    margin: auto;
    position: relative;
  }
}
@media screen and (max-width: 415px) {
  .überuns-page-container .top-image,
  .überuns-page-container .bottom-image {
    max-width: 250px;
    max-height: 220px;
    object-fit: cover;
    width: 250px;
  }
  .überuns-page-container .bottom-image {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-320px, 230px);
  }
  .überuns-page-container .side-image {
    display: none;
    margin: auto;
    position: relative;
  }
}
